#id_div{
  display:block;
  float:left;
  border-style: solid;
  border-color: grey;
  width:49%;
  height:49%;
}

img {
  max-width:100%;
  max-height:100%;
}
#carousel-item {
  max-width:100%;
  max-height:100%;
}