#header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;

  .navbar {

    ul {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      li {
        list-style-type: none;

        a {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}