* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #header .navbar ul li {
    list-style-type: none; }
    #header .navbar ul li a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: inherit; }

body {
  color:black;
  background-color:white;
  background-image:url(public/images/loutre-home-page);
  background-attachment:fixed;
  background-repeat:no-repeat;
}

*{
  border-radius:0px;
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  boder-bottom-left-radius: 0px!important;
}
header .content-header {
  color: #fff;
  height: 666px;
}

form {
  display: block;
  marting-top: Oem;
}
@media (max-width: 990px)
header .content-header {
  color: #fff;
  height: 500px!important;
}

footer {
  display: block;
  background-color: black; }

#home-jumbotron {
  padding: 10px 20px;
  margin: 15px;}
