* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }



    #jumbotron{
      background-image: url("../public/images/loutre-home-page") ;
      padding: 10px 20px;
      margin: 15px
    }







#-jumbotron {
  padding: 10px 20px;
  margin: 15px;}

#refuge-container{
  padding: 10px 20px;
  margin: 15px;
}

#contact-jumbotron{
  padding: 100px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: right top;


}